^contentpage {
    padding: 10;
    background-color: cadetblue;
    -maui-shell-title: whitesmoke;
    -maui-shell-background: #2e4c4d;
}

#Description {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#Description label {
    font-size: 24;
    font-family: Arial;
}

#LuckyNumberLabel {
    font-size: 28;
    font-style: bold;
}

#ClassesLabel {
    margin-top: 20;
    font-size: 30;
    font-style: bold;
}

#ClassListCollection {
    margin: 10 150 0 150;
}

.ClassListItem {
    margin: 100;
    padding: 16;
    -maui-orientation: horizontal;
    -maui-spacing: 4;
    background-color: #4C7e80;
}

.ClassListItem label {
    font-size: 20;
}