^contentpage {
    background-color: cadetblue;
    -maui-shell-title: whitesmoke;
    -maui-shell-background: #2e4c4d;
}

#MainLayout {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#MainLayout > label {
    font-family: Arial;
    font-size: 24;
}

#MainLayout > button {
    width: 200;
    padding: 10;
    border-color: #213838;
    color: whitesmoke;
    background-color: #315152;
    font-family: Arial;
    font-style: bold;
    font-size: 20;
}

#DrawedStudentLabel {
    margin: 6;
}