/*NOT WORKING AT ALL*/

tabbedpage {
    -maui-bar-background-color: pink;
    -maui-bar-text-color: violet;
}

navigationpage {
    -maui-bar-background-color: pink;
    -maui-bar-text-color: violet;
}

^shell {
    -maui-flyout-background: orange;
    -maui-shell-background: orange;
}

.shellPageLayout{
    background-color: mediumaquamarine;
}
